<app-encabezado></app-encabezado>

<!-- <app-titulos></app-titulos> -->

<!-- <app-directiva></app-directiva> -->

<!-- <app-ejemplo></app-ejemplo> -->

<!-- <app-pipes></app-pipes> -->

<router-outlet></router-outlet>