
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/'  ]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link" [routerLink]="[ '/pipes'  ]" routerLinkActive="active">Pipes</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/ejemplo'  ]" routerLinkActive="active">Ejemplo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/directivas'  ]">Directiva</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/usuarios'  ]" routerLinkActive="active">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/articulo'  ]" routerLinkActive="active">Articulo</a>
            </li>
        </ul>
    </div>
</nav>