<p>titulos works! by {{ nombre }}</p>
<p>Objeto alumno de nombre: {{alumno.nombre}}</p>
<hr>

<!-- Property binding, decirle a las propiedades que tomen el nombre de una variable -->
<img [src]="imagen">

<input type="text" value="Hola mundo"> <br>
<input type="text" [value]="val_inpt"><br>

<hr>

<!-- Two way binding, asignar un valor a una variable en tiempo real y mostrar el valor en tiempo real -->
<!-- 
    import { FormsModule } from '@angular/forms' en app.mosule.ts
 -->
<input type="text" [(ngModel)]="twb">
<p>{{ twb }}</p>

<hr>

<label for="">Correo</label>
<input type="email" [(ngModel)]="correo">

<label for="">Password</label>
<input type="password" [(ngModel)]="password">

<button (click)="ingresar()">Iniciar</button>

<hr>
<h2>Eventos</h2>
<button (dblclick)="mostrarAlerta()">Doble click</button> <br>
<label for="">Nombre</label>
<input type="text" (ngModelChange)='cambiandoValor()' [(ngModel)]="name"> <br>
<label for="">Apellido</label> 
<input type="text" (input)='escribir($event)'> <br>
<!-- <input type="text" (input)='escribir($event.target.value)'> <br> -->
<label for="">Edad</label> 
<input type="text" (focus)='colorear($event)'> <br>
<!--
    keydown y keyup funcionan igual
    La dereferencia esta en que keydown es al presionar la tecla y keyup es al dejar de presionarla
-->
<label for="">Escuela</label> 
<input type="text" (keydown)='mostrarEscuela($event)'> <br>
<!--
    mauseenter y mauseleave
    La dereferencia esta en que keydown es al presionar la tecla y keyup es al dejar de presionarla
-->
<img [src]="url2" (mouseenter)="cambiarTam($event)" (mouseleave)="cambiarTam2($event)">