<div class="container">
    <h2>Titulo: {{articulo.title}}</h2>
    <h2>Descripcion: {{articulo.body}}</h2>

    <hr>

    <p>
        Usuario: {{ usuario.name }} <br>
        Ciudad: {{ usuario.address.city }}
    </p>
</div>