<div class="container mt-5">

    <form action="" class="form-group">
        <input placeholder="Buscar Producto" (input)="buscarProducto($event)" type="text" class="form-control">
    </form>

    <button routerLink="/agregar-producto" class="btn btn-primary">Agregar Producto</button>

    <div class="row mt-4">
        <div class="col-sm-3" *ngFor="let producto of productos">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <h6 class="card-subtitle">{{ producto.id }}</h6>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <p class="card-text">{{ producto.precio }}</p>
                    <a (click)="agregar(producto)" class="card-link">Agregar</a>
                </div>
            </div>
        </div>
    </div>
    
</div>