<div class="container">
    <div class="text-center">
        <img src="assets/logo-gym.jpg">
    </div>
    <form [formGroup]="loginForm">
        <div class="form-group">
          <label for="email">Correo electrónico</label>
          <input type="email" class="form-control" id="email" (keyUp.enter)="login()" formControlName="email" aria-describedby="emailHelp" placeholder="Ingrese su correo electrónico" required>
          <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].dirty" class="alert alert-danger" role="alert">
            <span *ngIf="loginForm.controls['email'].errors.required">El correo es requerido</span>
            <span *ngIf="loginForm.controls['email'].errors.email">El correo no es Valido</span>
          </div>
        </div>
        <div class="form-group">
          <label for="pass">Contraseña</label>
          <input type="password" class="form-control" id="pass" (keyUp.enter)="login()" formControlName="pass" placeholder="Ingrese su contraseña" required>
          <div *ngIf="loginForm.controls['pass'].invalid && loginForm.controls['pass'].dirty" class="alert alert-danger" role="alert">
            <span *ngIf="loginForm.controls['pass'].errors.required">La contraseña es requerida</span> 
          </div>
        </div>
        <button type="submit" [disabled]="!loginForm.valid" (click)="login()" class="btn btn-primary">Ingresar</button>
      </form>

      <div *ngIf="!datosCorrectos" class="alert alert-warning" role="alert">
        {{errorText}}
      </div>


      <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-pulse-sync" [fullScreen] = "true"><p style="color: white" > Validando... </p></ngx-spinner>

</div>