<div class="container">
    <div class="articulos" *ngFor="let art of arts">
        <h4>Nombre: <a (click)="pasarParametro(art)">{{art.nombre}}</a> </h4>
        <p>Descripcion: {{art.descripcion}}</p>
        <h4>Precio: {{art.precio | currency }}</h4>
    </div>
</div>