<div class="container">
    <div class="articulo" *ngFor="let articulo of articulos">
        <h4 (click)="irAlDetalle(articulo)">Encabezado: {{articulo.title}}</h4>
        <p>Descripcion: {{articulo.body}} </p>
        <button class="btn btn-danger" (click)="borrar(articulo.id)">Borrar</button>
        <button class="btn btn-primary" (click)="actualizar(articulo)">Actualizar</button>
    </div>
</div>