<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href=""> Los servicios </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/perfil">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agregar-articulo">Agregar Articulo</a>
        </li>
      </ul>
      <span class="navbar-text">
        Usuario: 
      </span>
    </div>
  </nav>