<div class="container">
    <h4>Usuarios</h4>
    <p>Aqui podra agregar o editar los usuarios</p>

    <button routerLink="/usuarios/agregar">Agregar</button>
    <button routerLink="/usuarios/editar">Editar</button>

    <router-outlet></router-outlet> <!-- Para que las paginas hijas funcionen -->
    
</div>