<div class="container mt-5">
    <h3>Listado de Clientes</h3>

    <form class="mt-3 mb-3" action="">
        <div class="form-group">
            <div class="row">
                <div class="col-11">
                    <input class="form-control" type="search" placeholder="Buscar un cliente" aria-label="Search">
                </div>
                <div class="col-1">
                    <button class="btn btn-outline-dark" type="submit">Buscar</button>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
       <div class="col-sm-3" *ngFor="let cliente of clientes">
            <div class="card mb-4">
                <div class="text-center">
                    <img [src]="cliente.imgUrl" class="card-img-top imgCliente">
                </div>
                <div class="card-body">
                    <!-- <p> {{cliente.id}} </p> -->
                    <h5 class="card-title">{{cliente.nombre}} {{cliente.apellidos}}</h5>
                    <p class="card-text"><strong>INE: </strong> {{cliente.ine}}</p>
                    <p class="card-text"><strong>teléfono: </strong> {{cliente.telefono}}</p>
                    <p class="card-text"><strong>email: </strong> {{cliente.email}}</p>
                    <a [routerLink]="['/editar-cliente/', cliente.id]" class="card-link">Editar</a>
                    <a href="#" class="card-link text-danger">Desactivar</a>
                </div>
            </div>
       </div> 
       
    </div>
</div>