<div class="container mt-5">
    <div class="row">
        <div class="col-7">
            <h3>Precios</h3>

            <div class="list-group mt-3">
                <a *ngFor="let precio of precios" (click)="editar(precio)" class="list-group-item list-group-item-action">{{precio.nombre}}</a>
            </div>
        </div>
        <div class="col-5">
            <h3 *ngIf="!esEditar">Agregar precio</h3>
            <h3 *ngIf="esEditar">Editar precio</h3>

            <form [formGroup]="preciosForm" class="mt-3" action="">
                <div class="form-group">
                    <label for="nombre">Nombre</label> <strong class="text-danger"> *</strong>
                    <input type="text" class="form-control" formControlName="nombre" id="nombre" placeholder="Introduce el nombre" required>
                    <div *ngIf="preciosForm.controls['nombre'].invalid && preciosForm.controls['nombre'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="preciosForm.controls['nombre'].errors.required">El nombre es requerido</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="costo">Costo</label> <strong class="text-danger"> *</strong>
                    <input type="number" class="form-control" formControlName="costo" id="costo" placeholder="Introduce el costo" required>
                    <div *ngIf="preciosForm.controls['costo'].invalid && preciosForm.controls['costo'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="preciosForm.controls['costo'].errors.required">El costo es requerido</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="duracion">Duración</label> <strong class="text-danger"> *</strong>
                    <input type="number" class="form-control" formControlName="duracion" id="duracion" placeholder="Introduce la duración" required>
                    <div *ngIf="preciosForm.controls['duracion'].invalid && preciosForm.controls['duracion'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="preciosForm.controls['duracion'].errors.required">La duración es requerida</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="tipoDuracion">Tipo de duración</label> <strong class="text-danger"> *</strong>
                    <select class="form-control" formControlName="tipoDuracion" id="tipoDuracion" required>
                        <option selected>Selecciona una opción</option>
                        <option value="1">Día(s)</option>
                        <option value="2">Semana(s)</option>
                        <option value="3">Quincena(s)</option>
                        <option value="4" selected>Mes(es)</option>
                        <option value="5">Año(s)</option>
                    </select>
                </div>
                <div class="text-center">
                    <button *ngIf="!esEditar" type="submit" [disabled]="!preciosForm.valid" class="btn btn-primary mt-4 mb-4" (click)="agregar()">Agregar</button>
                    <button *ngIf="esEditar" type="submit" [disabled]="!preciosForm.valid" class="btn btn-primary mt-4 mb-4" (click)="guardarCambios()">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>