<div class="container mt-5">
    <h3>Inscripciones</h3>

    <div class="row mb-3">

        <div class="col-7">
            <app-sel-cliente [nombre]="clienteSeleccionado.nombre" 
                            (seleccionoCliente)="asignarCliente($event)"
                            (canceloCliente)="eliminarCliente()">
            </app-sel-cliente>

            <label for="" class="mt-0">Tipo de inscripción (precio)</label>
            <select (change)="seleccionarPrecio($event.target.value)" class="form-control" required>
                <option [value]="null" selected>Selecciona el tipo de inscripción</option>
                <option *ngFor="let precio of precios" [value]="precio.id">{{ precio.nombre }}</option>
            </select>
            
            <label for="" class="mt-3">Fecha Inicio</label>
            <input class="form-control" [value]="inscripcion.fecha | date" type="text" disabled>
            
            <label for="" class="mt-3">Fecha Finaliza</label>
            <input class="form-control" [value]="inscripcion.fechaFinal | date" type="text" disabled>
        
            <label for="" class="mt-3">Sub Total</label>
            <input class="form-control" [value]="inscripcion.subtotal" type="number" disabled>
        
            <label for="" class="mt-3">IVA</label>
            <input class="form-control" [value]="inscripcion.iva" type="number" disabled>
        
            <label for="" class="mt-3">Total</label>
            <input class="form-control" [value]="inscripcion.total" type="number" disabled>

            <div class="text-center mt-4">
                <button class="btn btn-primary" (click)="guardar()">Guardar</button>
            </div>
            
        </div>

        <div class="col-5">
            <div *ngIf="clienteSeleccionado.imgUrl" class="text-center">
                <img [src]="clienteSeleccionado.imgUrl" class="imagenCliente">
            </div>
        </div>
    </div>
</div>