<p> {{ titulo | uppercase }} con Uppercase </p>
<p> {{ titulo | lowercase }} con Lowercase </p>
<p> {{ titulo | titlecase }} con Titlecase</p>

<p> {{ dinero | currency: 'L' }} </p>
<p> {{ ganancias | percent }} </p>
<p> {{ fecha | date }} </p>
