<div class="container mt-4">
    <div class="cliente">
        <h5>Cliente: {{ this.pedidosServicio.pedido.nombreCliente }}</h5>
        <h6>Total: $ {{ this.pedidosServicio.pedido.total }} </h6>
    </div>
    <div class="detalle">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">idProducto</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Total</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of this.pedidosServicio.pedido.pedidoDetalle; let posicion=index">
                <td>{{ producto.idProducto }}</td>
                <td>{{ producto.nombreProducto }}</td>
                <td><input (input)="calcular(posicion)" [(ngModel)]="producto.cantidad" type="text"> </td>
                <td>$ {{ producto.precio }}</td>
                <td>$ {{ producto.total }}</td>
                <td><button class="btn btn-danger" (click)="eliminar(posicion)">Eliminar</button></td>
              </tr>
            </tbody>
        </table>

        <button class="btn btn-primary" (click)="guardar()">Guardar</button>
    </div>
</div>