<div class="container">
    <form [formGroup]="formularioCreado">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" formControlName="nombre">
            <div *ngIf="formularioCreado.controls['nombre'].invalid && formularioCreado.controls['nombre'].dirty" class="alert alert-danger" role="alert">
                <span *ngIf="formularioCreado.controls['nombre'].errors.required">El nombre es requerido</span>
            </div>
        </div>

        <div class="form-group">
            <label>Correo</label>
            <input type="email" class="form-control" formControlName="correo">
            <div *ngIf="formularioCreado.controls['correo'].invalid && formularioCreado.controls['correo'].dirty">
                <div *ngIf="formularioCreado.controls['correo'].errors.required" class="alert alert-danger" role="alert">
                    El correo es requerido
                </div>
                <div *ngIf="formularioCreado.controls['correo'].errors.email" class="alert alert-danger" role="alert">
                    No parece un correo valido
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control" formControlName="pass">
            <div *ngIf="formularioCreado.controls['pass'].invalid && formularioCreado.controls['pass'].dirty">
                <div *ngIf="formularioCreado.controls['pass'].errors.required" class="alert alert-danger" role="alert">
                    La contraseña es requerida
                </div>
                <div *ngIf="formularioCreado.controls['pass'].errors.minlength" class="alert alert-danger" class="alert alert-danger" role="alert">
                    La contraseña debe tener al menos 6 caracteres
                </div>
            </div>
        </div>

        <!-- formularioCreado.valid = false, enonces los datos del formulario no son validos 
                diables = falso, entonces el boton no esta deshabilitado-->
        <button *ngIf="esNuevo" [disabled]=" !formularioCreado.valid " class="btn btn-primary" (click)="agregar()">Agregar</button>
        <button *ngIf="!esNuevo" [disabled]=" !formularioCreado.valid " class="btn btn-danger" (click)="editar()">Editar</button>
    </form>
</div>

<div *ngIf="usuarios.length > 0 " class="container borde">
    <div *ngFor="let usuario of usuarios; let posicion=index">
        <h4>{{ usuario.nombre }} Tiene la posicion {{ posicion }}</h4>
        <p> {{ usuario.correo }} </p>
        <p> {{ usuario.pass }} </p>
    
        <button (click)="editarUsuario(posicion)">Editar</button>
        <button (click)="eliminarUsuario(posicion)">Eliminar</button>
    </div>
</div>
