<div class="container mt-5">

    <form action="" class="form-group">
        <input placeholder="Buscar Cliente" (input)="buscarCliente($event)" type="text" class="form-control">
    </form>

    <button routerLink="/agregar-cliente" class="btn btn-primary">Agregar Cliente</button>

    <div class="row mt-4">
        <div class="col-sm-3" *ngFor="let cliente of clientes">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ cliente.nombre }} {{ cliente.apellidos }}</h5>
                    <h6 class="card-subtitle">{{ cliente.id }}</h6>
                    <p class="card-text">{{ cliente.direccion }}</p>
                    <a (click)="irAProductos(cliente)" class="card-link">Seleccionar</a>
                </div>
            </div>
        </div>
    </div>
    
</div>