<hr>

<p>Cliente: {{ pedido.cliente }}</p>
<p>Dirección: {{ pedido.direccion }}</p>

<button (click)="agregarProducto()">Agregar Producto</button>

<app-pedido-detalle [pedidoDetalle]="pedido.pedidoDetalle" (seEliminoUnProducto)="elHijoEliminoUnProducto($event)"></app-pedido-detalle>