<div class="clientes mt-3">
    <div class="form-group " *ngIf="!nombre">
        <div class="row">
            <div class="col-12">
                <input class="form-control" type="search" (input)="buscarCliente($event.target.value)" placeholder="Buscar un cliente">
            </div>
        </div>
    </div>
    <div class="form-group" *ngIf="nombre">
        <div class="row">
            <div class="col-10">
                <input class="form-control" type="text" [(ngModel)]="nombre" disabled>
            </div>
            <div class="col-2">
                <button (click)="cancelarCliente()" class="btn btn-warning">Cancelar</button>
            </div>
        </div>
    </div>

    <div class="list-group">
        <div *ngFor="let cliente of clientes">
            <a *ngIf="cliente.visible" (click)="selCliente(cliente)" class="list-group-item list-group-item-action">
                {{cliente.nombre}} {{cliente.apellidos}}
            </a>
        </div>
    </div>
    
</div>