<div class="container mt-5">
    <h3>Listado de inscripciones</h3>

    <table class="table mt-3">
        <thead>
            <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha de inicio</th>
            <th scope="col">Fecha final</th>
            <th scope="col">Imagen</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let inscripcion of inscripciones">
                <th scope="row">{{inscripcion.clienteObtenido.nombre}} {{inscripcion.clienteObtenido.apellidos}}</th>
                <td>{{inscripcion.fecha | date}}</td>
                <td>{{inscripcion.fechaFinal | date}}</td>
                <td>
                    <img [src]="inscripcion.clienteObtenido.imgUrl" class="imgTabla">
                </td>
            </tr>
        </tbody>
    </table>
</div>