<h4>Agregar</h4>

<form action="">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" name="nombre">
    </div>

    <div class="form-group">
        <label for="edad">Edad</label>
        <input type="number" class="form-control" name="edad">
    </div>

    <button>Guardar</button>
</form>