<div class="container">
    <div class="row mt-4">
        <div class="col-sm-3" *ngFor="let pedido of listadoPedidos">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ pedido.nombreCliente }}</h5>
                    <h6 class="card-subtitle">$ {{ pedido.total }}</h6>
                    <p class="card-text">Productos: {{ pedido.pedidoDetalle.lenght }}</p>
                </div>
            </div>
        </div>
    </div>
</div>