<div *ngIf="!cargando">
    <p>Hola, la pagina se ha cargado</p>
</div>

<img *ngIf="cargando" src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif">

<hr>

<p>Hola, la lista de alumnos es: </p>
<ul>
    <div *ngFor="let nombre of nombres">
        <li>{{nombre}}</li>
    </div>
</ul>

<hr>

<div class="tab" [ngSwitch]="pestana">
    <button (click)="cambiarPestana('inicio')">Inicio</button>
    <button (click)="cambiarPestana('perfil')">Perfil</button>
    <button (click)="cambiarPestana('salir')">Salir</button>

    <div class="tabContenido">
        <p *ngSwitchCase="'inicio'">Es es el Inicio</p>
        <p *ngSwitchCase="'perfil'">Es es el perfil</p>
        <p *ngSwitchCase="'salir'">Estas saliendo</p>
        <p *ngSwitchDefault>Selecciona una pestaña</p>
    </div>
</div>

<hr>

<!-- Clases en css / scss 
    otra manera: <div [class.cuadrado]="var_cuadrado">
-->
<button (click)="mostrarCuadrado()">Da click</button>
<div [ngClass]="{ 'cuadrado': var_cuadrado}">
    <p>Esto es un cuadrado verde</p>
</div>