.tab{
    border: 1px solid gray;
    width: 300px;
    height: 300px;
    padding: 10px;
}

.tabContenido{
    width: 90%;
    margin: auto;
    height: 90%;
    background: #aaaaaa;
}

.cuadrado{
    width: 200px;
    height: 200px;
    background: green;
}