<div class="container">
    <form [formGroup]="formularioArticulo">
        <div class="form-group">
            <label>Titulo</label>
            <input type="text" class="form-control" formControlName="title">
        </div>
        <div class="form-group">
            <label>Body</label>
            <input type="text" class="form-control" formControlName="body">
        </div>
        <div class="form-group">
            <label>Seleccion un autor</label>
            <select class="form-control" formControlName="userId">
                <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{usuario.name}}</option>
            </select>
        </div>

        <button class="btn btn-primary" [disabled]="!formularioArticulo.valid" (click)="agregar()">Agregar</button>
    </form>
</div>