<div class="container mt-5">
    <h3>Agregar Cliente</h3>

    <form [formGroup]="clienteForm" class="mt-3" action="">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="nombre">Nombre</label> <strong class="text-danger"> *</strong>
                    <input type="text" class="form-control" formControlName="nombre" id="nombre" placeholder="Introduce el nombre" required>
                    <div *ngIf="clienteForm.controls['nombre'].invalid && clienteForm.controls['nombre'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="clienteForm.controls['nombre'].errors.required">El nombre es requerido</span>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <label for="apellidos">Apellidos</label> <strong class="text-danger"> *</strong>
                    <input type="text" class="form-control" formControlName="apellidos" id="apellidos" placeholder="Introduce los apellidos" required>
                    <div *ngIf="clienteForm.controls['apellidos'].invalid && clienteForm.controls['apellidos'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="clienteForm.controls['apellidos'].errors.required">Los apellidos son requeridos</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group">
                    <label for="ine">INE</label>
                    <input type="text" class="form-control" formControlName="ine" id="ine" placeholder="Introduce la clave de elector">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="fechaNacimiento">Fecha de Nacimiento</label> <strong class="text-danger"> *</strong>
                    <input type="date" class="form-control" formControlName="fechaNacimiento" id="fechaNacimiento" required>
                    <div *ngIf="clienteForm.controls['fechaNacimiento'].invalid && clienteForm.controls['fechaNacimiento'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="clienteForm.controls['fechaNacimiento'].errors.required">La fecha de nacimiento es requerida</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="telefono">Teléfono</label> <strong class="text-danger"> *</strong>
                    <input type="number" class="form-control" formControlName="telefono" id="telefono" placeholder="Introduce el número de teléfono" required>
                    <div *ngIf="clienteForm.controls['telefono'].invalid && clienteForm.controls['telefono'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="clienteForm.controls['telefono'].errors.required">El teléfono es requerido</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="email">Email</label> <strong class="text-danger"> *</strong>
                    <input type="email" class="form-control" formControlName="email" id="email" placeholder="Introduce el email" required>
                    <div *ngIf="clienteForm.controls['email'].invalid && clienteForm.controls['email'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="clienteForm.controls['email'].errors.required">El correo es requerido</span>
                        <span *ngIf="clienteForm.controls['email'].errors.email">El correo no es Valido</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="imagen">Imagen</label> <strong class="text-danger"> *</strong>
                    <input type="file" (change)="subirImagen($event)" class="form-control-file" formControlName="imgUrl" id="imagen" placeholder="Selecciona un archivo" required>
                    <div *ngIf="clienteForm.controls['imgUrl'].invalid && clienteForm.controls['imgUrl'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="clienteForm.controls['imgUrl'].errors.required">La imagen es requerida</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <progressbar [value]="porcentajeUpload" type="warning" [striped]="true" [animate]="true">{{porcentajeUpload}}%</progressbar>
            </div>
        </div>
        
        <div class="text-center">
            <button type="submit" [disabled]="!clienteForm.valid" class="btn btn-primary mt-4 mb-4" (click)="agregar()">Agregar cliente</button>
        </div>
        
    </form>
</div>
