<div class="btn-group">
    <button class="btn btn-primary" (click)="guardarClientes()">Guardar Cliente</button>
    <button class="btn btn-primary" (click)="guardarProductos()">Guardar Productos</button>

    <button class="btn btn-warning" (click)="eliminarClientes()">Eliminar Clientes</button>
    <button class="btn btn-warning" (click)="eliminarProductos()">Eliminar Productos</button>
    <button class="btn btn-danger" (click)="eliminarTodo()">Eliminar Todos</button>
</div>


<div class="container">
    <h4>Clientes</h4>
    <div class="clientesContainer" *ngFor="let cliente of clientesLocales">
        <p>Cliente: {{cliente.nombre}}</p>
        <p>Apellidos: {{cliente.apellidos}}</p>
        <p>Edad: {{cliente.edad}}</p>
    </div>
</div>

<div class="container">
    <h4>Productos</h4>
    <div class="productosContainer" *ngFor="let producto of productosLocales">
        <p>Producto: {{producto.nombre}}</p>
        <p>Precio: {{producto.precio}}</p>
    </div>
</div>